@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100;200;300;400;600;700&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: rgba(255,0,173,1);
}
span {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: #fff;
    position: absolute;
    animation: hidde 0.5s linear forwards;
    animation-delay: 4s;
}
@keyframes hidde {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
a {
    opacity: 0;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 10px 60px;
    border-radius: 5px;
    margin-top: 10px;
    animation: revelation 0.5s linear forwards;
    animation-delay: 4.5s;
    transition: 0.5s;
}
a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #d615d3;
    display: block;
    margin: auto;
    transition: 0.5s;
}
a:hover::after {
    width: 70%;
}
@keyframes revelation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
